.dish {
  margin: 20px 40px 0px 30px;
  display: flex;
  justify-content: space-between;
}
.container {
  /* border: 1px solid grey; */
  /* margin: 10px; */
}
.containr {
  margin: 20px 20px 0px 10px;
  border: 1px solid rgb(230, 225, 225);
  border-radius: 1rem;
  /*height: 500px;
  */
  padding: 20px;
}
.hrline1 {
  color: rgb(199, 197, 197);
  width: 96%;
  position: relative;
  left: 20px;
}
button {
  color: white;
  margin-left: 8px;
  background-color: #fc6a57;
  border-radius: 0.3rem;
  border: none;
  padding: 9px 14px;
}
h6 {
  /* margin-left: 20px; */
}
.hrline2 {
  color: rgb(199, 197, 197);
  width: 300px;
  position: relative;
  /* left: 20px; */
}
.optiondish {
  position: relative;
  /* margin-left: 20px; */
  bottom: 10px;
  /* left: 20px; */
  display: flex;

  flex-direction: column;
}
.hrline3 {
  color: rgb(199, 197, 197);
  width: 300px;
  position: relative;
  /* left: 20px; */
  bottom: 10px;
}
.addons {
  position: relative;
  bottom: 15px;
}
.optiondish2 {
  position: relative;
  /* margin-left: 20px; */
  bottom: 20px;
  /* left: 20px; */
  display: flex;

  flex-direction: column;
}
